/mysql/auto.cnf
/mysql/ca.pem
/mysql/client-cert.pem
/mysql/client-key.pem
/mysql/client.pem
/mysql/server-cert.pem
/mysql/server-key.pem
/mysql/server.pem
/mysql/ib_logfile0
/mysql/ib_logfile1
/mysql/ib_buffer_pool
/mysql/ibdata1
/mysql/ibtmp1
/mysql/mysql.sock
/mysql/ca-key.pem
/mysql/private_key.pem
/mysql/public_key.pem
/node/node_modules